<div class="h-screen bg-blue-800" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="w-1/3">
    <mat-card-title>Login</mat-card-title>
    <form fxLayout="column" (submit)="login()" class="mt-10" [formGroup]="loginForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" placeholder="email" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" placeholder="password" matInput>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>
